.name{
  font-size: 24px;
  margin-left: 10%;
  margin-top: 50px;
}
.position{
  margin-left: 10%;
  margin-top:20px;
  font-size: 18px
}
.time-period{
  margin-left: 10%;
  margin-top:20px;
  font-size: 18px;
}
.resposibility{
  margin-left: 10%;
  margin-top:20px;
  font-size: 18px;
}