body {
    background-color:#fff;
    margin:0px;
    font-family:sans-serif;
    font-weight: 100;
}
.section-heading{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
.section-desc{
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.page-name{
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 24px
}
.logo{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
  position: relative;
  display: flex;
  justify-content: center;
  background: #F7F7F7;
  height: 35px;
  align-items: center;
  font-size: 16px;
  & a{
    margin-right:20px;
    color: black;

    text-decoration: none;
    &:hover{
      color: #1fb394;
    }
  }
}
.login{
  position: absolute;
  display: flex;
  align-items: center;
  right: 10%;
  cursor: pointer;
  & img{
    height:30px
  }
}