body {
    background-color:#fff;
    padding: 15px;
    padding-top: 0px;
}
.header {
  background-color: rgba(#3d3636, 0.27);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.logo{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}