.skill{
  height:350px;
  background-size: cover;
  width: 33%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.skill-grid{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.skill-text{
  padding: 60px;
  box-sizing: border-box;
  background-color: #E3F2F3
}
.skill-heading{
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.skill-desc{
  letter-spacing: 1px;
}