.skill{
  height:350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25vw;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.skill-grid{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
  >div:nth-child(2){
    animation: shiver 6s;
    animation-iteration-count: 5;
  }
}
.skill-text{
  padding: 60px;
  box-sizing: border-box;
  background-color: #E3F2F3
}
.skill-heading{
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.skill-desc{
  letter-spacing: 1px;
}


@keyframes shiver {
  0% {
    transform: translate(10px);
  }
  5% {
    transform: translate(-10px);
  }
  10% {
    transform: translate(0);
  }
}